streamlit
plotly
streamlit-folium
folium==0.19.5
openpyxl
geopandas
matplotlib
numpy
pandas
scikit-learn
seaborn
requests
tqdm
sympy
pyproj
shapely
rasterio
contextily
pyogrio
fastdtw
haversine
joblib
Flask
SQLAlchemy
orjson
xlrd
